# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Authentication.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_pratice\pratik\Login\login-api\Authentication\.idea\.idea.Authentication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
